body{
    background-color: rgba(45, 164, 45, 0.454);
}

img{
    justify-items: center;
}

.Gollilas{
background-color: rgba(0, 255, 4, 0.325);
}


.Rhinos{
background-color: rgba(153, 255, 0, 0.348);
}